################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/worco-backend/bin
/worco-backend/obj
/worco-frontend/.idea
