.navigate-header{
    width: 100%;
    display: inline-grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 60px auto 60px;
}

.navigate-header[data-size="small"]{
    height: 32px;
}
.navigate-header[data-size="medium"]{
    height: 48px;
}
.navigate-header[data-size="large"]{
    height: 60px;
}

.navigate-header svg{
    cursor: pointer;
    height: inherit;
}

.navigate-header svg:hover path{
    fill: #8F0E21;
}

.navigate-header[data-size="small"] svg{
    width: 32px;
}
.navigate-header[data-size="medium"] svg{
    width: 48px;
}
.navigate-header[data-size="large"] svg{
    width: 60px;
}