.addEditElement-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(17, 17, 17, 0.7);
    z-index: 1000;
    font-size: 18px;
}

.addEditPlace-name{
    margin: 20px 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.addEditPlace-number{
    width: 100px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.addEditPlace-warning{
    color: #de0000;
    white-space: nowrap;
}

.addEditElement {
    width: 800px;
    background-color: #EFEFEF;
    border-radius: 12px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.addEditElement-content {
    margin-top: 20px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
}

.addEditElement-name {
    width: 50%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.addEditElement-preview-settings-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.addEditElement-preview-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.addEditElement-photo-image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.addEditElement-photo-image-dragEnter {
    border-color: transparent;
    outline: 3px dashed black;
    outline-offset: 0;
}

.addEditElement-preview-hints {
    position: relative;
}

.addEditElement-preview {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addEditElement-preview svg {
    object-fit: cover;
    border: 1px solid #5d5d5d;

}

.addEditElement-preview svg g:first-child {
    outline: solid 1px rgba(128, 128, 128, 0.75);
}

.addEditElement-preview svg image {

}

.addEditElement-preview-settings {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addEditElement-preview-settings-content {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addEditElement-preview-setting {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.addEditElement-preview-setting div .input,
.addEditElement-preview-setting div div {
    width: 40%;
}

.addEditElement-preview-setting-options{
    all: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 10px;
}

.addEditElement-preview-pos {
    pointer-events: none;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;

}

.addEditElement-preview-pos svg {

    object-fit: cover;

    /*border: 1px solid rgba(128, 128, 128, 0.75);*/
}

.addEditElement-hintPos {
    pointer-events: none;
    position: absolute;
    z-index: 10000;
    overflow: visible;
}

.addEditElement-hintPos line {

}

.addEditElement-hintPos foreignObject {
    z-index: 10000;
    text-align: center;
    position: absolute;

    background-color: #ff1400;
}

.addEditElement-buttons {
    width: 100%;
    display: inline-flex;
    gap: 20px;
    justify-content: right;
}

.addEditElement-buttons button {
    width: 30%;
}

.addEditElement-buttons-delete {
    padding: 5px;
    width: 32px!important;
    height: 32px!important;
    background-color: #EFEFEF;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
}

.addEditElement-buttons-delete div {
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/public/Pictures/trash.svg");
}

.addEditElement-buttons-delete:hover{
    background: #606060;
    color: #FFF;
}

.addEditElement-buttons-delete:hover div {
    background-image: url("/public/Pictures/trashWhite.svg");
}