.button{
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    min-width: min-content;
    width: 100%;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.button[data-size="small"]{
    padding: 0 15px;
    height: 32px;
}
.button[data-size="medium"]{
    padding: 0 21px;
    height: 48px;
}
.button[data-size="large"]{
    height: 60px;
}

.button[disabled]{
    box-shadow: none!important;
    background: #818181!important;
    color: #FFFFFF!important;
}



.button[data-type="red"]{
    background: #AA0A22;
    color: #FFFFFF;
}
.button[data-type="red"]:hover{
    background: #8F0E21;
    color: #FFF;
    box-shadow: 0 1px 20px 0 rgba(170, 10, 34, 0.35);
}

.button[data-type="white1"]{
    background: #FFFFFF;
    color: #111111;
    border: 1px solid #AA0A22;
}
.button[data-type="white1"]:hover{
    background: #8F0E21;
    color: #FFF;
    box-shadow: 0 1px 20px 0 rgba(170, 10, 34, 0.35);
    border: 1px solid #8F0E21;
}

.button[data-type="white2"]{
    background: transparent;
    color: #111111;
    border: 1px solid #404040;
}
.button[data-type="white2"]:hover{
    border-color: #606060;
    background: #606060;
    color: #FFF;
}

.button[data-sel="true"]{
    background: #AA0A22;
    color: #FFFFFF!important;
    box-shadow: 0 1px 20px 0 rgba(170, 10, 34, 0.35);
}