.button{
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    min-width: min-content;
    width: 100%;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.button[data-size="small"]{
    padding: 0 15px;
    height: 32px;
    border-radius: 10px;
}
.button[data-size="medium"]{
    padding: 0 21px;
    height: 48px;
    border-radius: 12px;
}
.button[data-size="large"]{
    height: 60px;
}

.button[disabled]{
    box-shadow: none!important;
    background: #818181!important;
    color: #FFFFFF!important;
}

.button[data-sel="true"]{
    background: #404040!important;
    color: #FFFFFF!important;
}

.button[data-type="black"]{
    background: #404040;
    color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button[data-type="black"]:hover{
    background: #606060;
    color: #FFF;
}

.button[data-type="white1"]{
    background: #EFEFEF;
    color: #111111;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button[data-type="white1"]:hover{
    background: #606060;
    color: #FFF;
}

.button[data-type="white2"]{
    background: transparent;
    color: #111111;
    border: 1px solid #404040;
}
.button[data-type="white2"]:hover{
    border-color: #606060;
    background: #606060;
    color: #FFF;
}